<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokedex | aron</title>
    <link rel="shortcut icon" href="../img/aron.png" type="image/x-icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">


</head>

<body class="aaron">
    <h1>aron</h1>
    <img src="../img/aron.png" alt="aron">
    <p>tipo: <span>acero</span></p>
    <br>
    <b>descripcion</b>
    <p>Se alimenta de minerales de hierro o, en ocasiones, de vías de tren para producir la coraza de acero que le protege el cuerpo.</p>
    <br>
    <p id="enlace"><a href="../index.html">volver a inicio</a></p>
</body>

</html>