<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>pokedex | snorlax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <style>
        body {
            background-color: coral;
        }
        
        a {
            text-decoration: none;
            color: white;
            padding: 10px;
            background-color: red;
            border-radius: 5px;
        }
        
        #enlace {
            text-align: center;
        }
    </style>
</head>

<body style="font-family: 'Press Start 2P', cursive;">
    <h1>snorlax</h1>
    <img src="../img/snorlax.png" alt="snorlax">
    <p>tipo: <span style="background-color: antiquewhite; padding: 2px; border-radius: 5px;">normal</span></p>
    <br>
    <p>descripcion</p>
    <p>No se encuentra satisfecho hasta haber ingerido 400 kg de comida cada día. Cuando acaba de comer, se queda dormido.</p>
    <p id="enlace"><a href="../index.html" style="">volver a inicio</a></p>
</body>

</html>